.header{
  background-color: #ffffff;

  &__top{
    font-size: 14px;
  }

  &__top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 20px;
  }

  &__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 20px;
  }

  &__logo-tag-wrap{
    display: flex;
    align-items: center;
  }

  &__link-main{}

  &__logo{}

  &__tagline{
    margin-left: 40px;
    color: #666666;
  }

  &__actions-wrap{}

  &__action{
    &--add-advert{
      margin-right: 25px;
      padding: 2px 4px;
      background-color: #ffe480;
      color: #333333;
    }

    &--lk{
      position: relative;
      padding-right: 40px;
      color: #666666;

      &::after{
        content: url('/img/profile.svg');
        position: absolute;
        top: -5px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #cccccc;
      }

      &:hover{
        &::after{
          content: url('/img/profile_h.svg');
        }
      }
    }
  }

  &__action-text{
    color: inherit;
  }

  &__nav-wrap{
    background-color: #333333;
  }

  &__navigation-list{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 50px;
    max-width: 1000px;
  }

  &__navigation-item{
    flex-grow: 1;
    text-align: center;

    &:hover{
      background-color: #000000;
    }
  }

  &__nav-link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
  }

  &__nav-link-text{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  &__menu-actions{
    margin: 1px 0 0 20px;
    font-size: 12px;
  }

  &__menu-action{
    color: #cccccc;
  }
}



/*
.header{
  background-color: #2283c7;

  &__top{
    font-size: 14px;
  }

  &__top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 20px;
  }

  &__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 20px;
  }

  &__logo-tag-wrap{
    display: flex;
    align-items: center;
  }

  &__link-main{}

  &__logo{
    max-width: 120px;
  }

  &__tagline{
    margin-left: 40px;
    color: #ffffff;
  }

  &__actions-wrap{}

  &__action{
    &--add-advert{
      margin-right: 25px;
      padding: 2px 4px;
      background-color: #ffe480;
      color: #333333;
    }

    &--lk{
      position: relative;
      padding-right: 40px;
      color: #ffffff;

      &::after{
        content: '';
        position: absolute;
        top: -5px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #cccccc;
      }
    }
  }

  &__action-text{
    color: inherit;
  }

  &__nav-wrap{
    background-color: #0B5081;
  }

  &__navigation-list{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 50px;
    max-width: 1000px;
  }

  &__navigation-item{
    flex-grow: 1;
    text-align: center;

    &:hover{
      background-color: #000000;
    }
  }

  &__nav-link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
  }

  &__nav-link-text{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  &__menu-actions{
    margin: 1px 0 0 20px;
    font-size: 12px;
  }

  &__menu-action{
    color: #cccccc;
  }
}*/
